@media (max-width: 1248px) {
    .center {
        padding-left: 24px;
        padding-right: 24px;
    }

    


}

@media (max-width: 1042px) {
    .footer {
        &__logo {
            display: none;
        }
    }

    .filtering-form {
        right: 0;
    }

    .cart {
        margin-top: 66px;

        &__btn-box {
            gap: 14px;
            margin-top: 0;
        }

        &__btn:nth-child(2) {
            background: #000;
            color: #fff;
        }

        &__btn:nth-child(2):hover {
            background: #fff;
            color: #000;
        }
    }

    .product {
        &__content {
            gap: 30px 20px;
        }
    }
}

@media (max-width: 1024px) {
    .for {
       &__content {
        gap: 30px;
       }

       &__item {
            height: 268px;
       }
    }
}

